@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: calc(1vh + 1vw);
  --img: linear-gradient(120deg, rgba(246,211,101,0.51) 0%, rgba(253,160,133,0.74) 100%), url(https://images.trvl-media.com/lodging/2000000/1410000/1402200/1402122/4537ff3d.jpg?impolicy=resizecrop&rw=1200&ra=fit);
  --br: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --bb: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --bl: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  --bt: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --p: 20px;
  --bw: 2px;
  --t: 1s;
  --td: 200ms;
  --te: ease-out;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, sandybrown, chocolate);
  height: 85px;
  position: relative;
  margin: 20px 0px;
}
.wave::before, .wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
}
.wave::before {
  height: 15px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #2192FF 13px);
}
.wave::after {
  height: 20px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, #2192FF 12px, transparent 13px);
} 

.Title {
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(28px, calc(var(--size) * 1.7), 54px);
  background: turquoise;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.ResortAmount {
  /* display: inline-block; */
  font-size: clamp(30px, calc(var(--size) * 1.7), 58px);
  font-weight: 900;
  background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.numberText {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(20px, calc(var(--size) * 1.7), 30px);
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.ResortNumber {
  /* display: inline-block; */
  font-size: clamp(24px, calc(var(--size) * 1.7), 34px);
  background: red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.SubTitle {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  font-size: clamp(24px, calc(var(--size) * 1.7), 32px);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.Description {
  font-size: clamp(14px, calc(var(--size) * 1.2), 22px);
  line-height: 1.5;
  color: #323232;
  font-weight: 400;
  text-indent: 30px;
}

.whiteSpace {
  display: inline-block;
  width: 15px;
}

.SeeMoreBtn {
  border: none;
  background: transparent;
  font-size: clamp(14px, calc(var(--size) * 1.2), 20px);
  color: #666;
}

.SourceText {
  margin: 15px 0;
  font-size: clamp(14px, calc(var(--size) * 1.2), 20px);
  color: #666;
}

.SourceLink {
  text-decoration: underline 2px solid #2192FF;
  color: #2192FF;
  transition: all .3s ease-in-out;
}

.SourceLink:hover {
  text-decoration: underline 2px solid red;
  color: red;
  text-underline-offset: 5px;
}

.ImageBox {
  width: 720px;
}

ul {
  text-align: center;
}

/* --Next-Previous-Btn-- */
.buttons {
  margin-bottom: 20px;
  display: flex;
  width: 720px;
  gap: 10px;
  --b: 5px;   /* the border thickness */
  --h: 1.8em; /* the height */
}

.buttons button {
  --_c: #A25B5B;
  flex: calc(1.25 + var(--_s,0));
  min-width: 0;
  font-size: 40px;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background: 
    conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
    border-box;
  clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
  transition: flex .4s;
}
.buttons button + button {
  --_c: #2155CD;
  flex: calc(.75 + var(--_s,0));
  background: 
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
    border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
}
.buttons button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: .75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}
/* --------------------- */
/* --Book now btn------- */
a {
  text-decoration: none;
}

.banner {
  --w: 720px;
  --h: 200px;
  max-width: var(--w);
  width: 100%;
  margin: auto;
  height: var(--h);
  background-image: var(--img);
  background-size: var(--w);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size var(--t);
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all .2s ease-in-out;
}

.banner:hover {
  transform: translateY(-7px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.banner .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner .inner > h1 {
  position: relative;
  color: white;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 1em;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
  transition: var(--td);
}

.banner .inner::before, .banner .inner::after, .banner::after, .banner::before {
  content: '';
  position: absolute;
}
.banner::before {
  top: var(--p);
  right: var(--p);
  height: 0;
  width: var(--bw);
  background-image: var(--br);
  transition: height var(--td) var(--te) 0.75s;
}
.banner::after {
  bottom: var(--p);
  right: var(--p);
  width: 0;
  height: var(--bw);
  background-image: var(--bb);
  transition: width var(--td) var(--te) 0.5s;
}
.banner .inner::before {
  bottom: var(--p);
  left: var(--p);
  height: 0;
  width: var(--bw);
  background-image: var(--bl);
  transition: height var(--td) var(--te) 0.25s;
}
.banner .inner::after {
  top: var(--p);
  left: var(--p);
  height: var(--bw);
  width: 0;
  background-image: var(--bt);
  transition: width var(--td) var(--te) 0s;
}
.banner:hover::before {
  height: calc(var(--h) - var(--p) * 2);
  transition: height var(--td) var(--te) 0s;
}
.banner:hover::after {
  width: calc(100% - var(--p) * 2);
  transition: width var(--td) var(--te) 0.25s;
}
.banner:hover .inner::before {
  height: calc(var(--h) - var(--p) * 2);
  transition: height var(--td) var(--te) 0.5s;
}
.banner:hover .inner::after {
  width: calc(100% - var(--p) * 2);
  transition: width var(--td) var(--te) 0.75s;
}

.FooterText {
  margin-top: 30px;
  text-align: center;
}

/* --------------------- */

@media (min-width: 768px) {
  .banner:hover {
    background-size: 760px;
  }
  .banner .inner > h1 {
    font-size: 3em;
  }
}

@media all and (max-width: 500px) {
  .Container,
  .ImageBox,
  .buttons {
    width: 380px;
  }
  .banner {
    --w: 380px;
    --h: 106px;
  }
  .buttons button {
    font-size: 30px;
  }
}

@media (min-width: 480px) {
  .banner .inner > h1 {
    font-size: 2em;
  }
}